.dashboard-border {
    border-radius:10px;
    -webkit-box-shadow: 0px 0px 26px -11px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 26px -11px rgba(0,0,0,0.65);
    box-shadow: 0px 0px 26px -11px rgba(0,0,0,0.65);
    padding:20px;
    margin-top:10px;
}
.dashboard-tasks-container {

}

.dashboard-task-item {
    padding:10px;
    background:royalblue;
    color:white;
    border-radius:5px;
    margin-bottom:5px;
}
.dashboard-task-item:last-child {
    margin-bottom:0;
}

.dashboard-task-item small {
    float:right;
}