.index-content {
    padding:10px;
    padding-left:50px;
}

.generic-container {
    -webkit-box-shadow: 0px 0px 26px -11px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 26px -11px rgba(0,0,0,0.65);
    box-shadow: 0px 0px 26px -11px rgba(0,0,0,0.65);
    padding:50px;
    margin-top:20px;
    border-radius:10px;
}